Repository cisagov/cyhy_amis, pull requests merged in 2018-08, with the labels that each got.

#24 Improved workspace filtering
  terraform/bod_bastion_ec2.tf
  terraform/bod_docker_ec2.tf
  terraform/cyhy_bastion_ec2.tf
  terraform/cyhy_mongo_ec2.tf
  terraform/cyhy_nessus_ec2.tf
  terraform/cyhy_nmap_ec2.tf
  terraform/locals.tf
Labels: 💪💼!

#41 Allow the bastion to reach the mongo host via the mongo port
  terraform/cyhy_bastion_security_group_rules.tf
  terraform/cyhy_private_acl_rules.tf
  terraform/cyhy_private_security_group_rules.tf
Labels: 💪💼!

#46 Bugfix/make mongo great again
  ansible/roles/mongo/defaults/main.yml
  ansible/roles/mongo/tasks/main.yml
  ansible/roles/mongo/templates/mongod.conf
  packer/ansible/roles/mongo/defaults/main.yml
  packer/ansible/roles/mongo/tasks/main.yml
Labels: bug, 💪💼!

#51 Beefier instance types and root disks for production
  ansible/roles/cyhy_commander/files/commander.conf
  terraform/cyhy_commander_ec2.tf
  terraform/cyhy_mongo_ec2.tf
  terraform/cyhy_nessus_ec2.tf
  terraform/cyhy_nmap_ec2.tf
  terraform/locals.tf
Labels: Work in progress

#57 Ramp up number of jobs per nmap and nessus host
  ansible/roles/cyhy_commander/files/commander.conf
Labels: 💥 CRITICAL PATH 🌋, 🚀JUST SEND IT 📣
