Repository cisagov/cyhy_amis, pull requests merged in 2018-09, with the labels that each got.

#66 Various changes for Production based on our testing
  ansible/roles/cyhy_commander/files/commander.conf
  ansible/roles/cyhy_commander/tasks/main.yml
  terraform/cyhy_mongo_ec2.tf
  terraform/cyhy_nmap_ec2.tf
  terraform/cyhy_scanner_security_group_rules.tf
  terraform/locals.tf
  terraform/main.tf
Labels: 💥 CRITICAL PATH 🌋, 💪💼!

#77 Improvement/swap role
  ansible/playbook.yml
  ansible/roles/swap/README.md
  ansible/roles/swap/defaults/main.yml
  ansible/roles/swap/handlers/main.yml
  ansible/roles/swap/tasks/main.yml
  ansible/roles/swap/vars/main.yml
  terraform/cyhy_nmap_ec2.tf
Labels: 💥 CRITICAL PATH 🌋

#83 add registrations and conditionals to swap creation tasks
  ansible/roles/swap/tasks/main.yml
Labels: 🚀JUST SEND IT 📣

#86 Improvement/dry provisioning
  .gitignore
  README.md
  terraform/configure.py
  terraform/cyhy_mongo_ec2.tf
  terraform/cyhy_nessus_ec2.tf
  terraform/cyhy_nmap_ec2.tf
  terraform/dyn_nessus/nessus.template
  terraform/dyn_nessus/variables.tf
  terraform/dyn_nmap/nmap.template
  terraform/dyn_nmap/variables.tf
  terraform/locals.tf
Labels: enhancement

#102 Better handling of different Linux distros
  packer/ansible/roles/cyhy_runner/tasks/main.yml
  packer/ansible/roles/htop/tasks/main.yml
  packer/ansible/roles/pip/tasks/main.yml
  packer/ansible/roles/python/tasks/main.yml
  packer/ansible/roles/upgrade/tasks/main.yml
  packer/bastion.json
  packer/commander.json
  packer/docker.json
  packer/mongo.json
  packer/nessus.json
  packer/nmap.json
  packer/reporter.json
Labels: 💪💼!
