Repository cisagov/cyhy_amis, pull requests merged in 2020-01, with the labels that each got.

#251 Increase nmap Instance Swap Size from 2GiB to 4GiB
  ansible/playbook.yml
Labels: bugfix 🐜🔨💀

#252 Beefier Dashboard Instance
  terraform/cyhy_dashboard_ec2.tf
Labels: capacity

#253 Add deploy_new_fdi_lambda Script and Bump Python Environment Version for the fdi lambda
  terraform/deploy_new_fdi_lambda.sh
  terraform/fdi_lambda.tf
Labels: enhancement
