Repository cisagov/cyhy_amis, pull requests merged in 2020-05, with the labels that each got.

#263 Fix email sending for code_gov_update and client_cert_update projects
  ansible/roles/client_cert_update/tasks/main.yml
  ansible/roles/code_gov_update/tasks/main.yml
  ansible/roles/cyhy_mailer/tasks/main.yml
Labels: bugfix 🐜🔨💀

#265 Revert "Tighten file permissions" commit
  ansible/roles/cyhy_mailer/tasks/main.yml
Labels: bugfix 🐜🔨💀

#267 Create rules page specific to web application scanning
  terraform/configure.py
  terraform_egress_pub/scripts/egress_pub.py
Labels: enhancement, 💥 CRITICAL PATH 🌋

#268 Add Dashboard Deploy Script and Add Rule to Database Deploy Script
  terraform/deploy_new_dashboard_ami.sh
  terraform/deploy_new_database_ami.sh
Labels: enhancement
