Repository cisagov/cyhy_amis, pull requests merged in 2022-12, with the labels that each got.

#578 Upgrade Lambda runtime and Terraform module
  terraform_egress_pub/cloudfront.tf
Labels: improvement, upstream update, terraform

#588 Finalize replacing LGTM with CodeQL
  README.md
  ansible/roles/nessus/files/nessus_base.py
  ansible/roles/nessus/templates/cyhy-base-nessus8-policy.xml.j2
Labels: documentation, improvement

#587 Update `adi` and `fdi` lambda configurations
  terraform/README.md
  terraform/adi_lambda.tf
  terraform/fdi_lambda.tf
  terraform/variables.tf
Labels: improvement

#593 Update the Lambda bucket notification resource names
  terraform/README.md
  terraform/adi_lambda.tf
  terraform/fdi_lambda.tf
  terraform/scripts/deploy_new_adi_lambda.sh
  terraform/scripts/deploy_new_fdi_lambda.sh
Labels: bug, improvement
