Repository cisagov/cyhy_amis, pull requests merged in 2022-05, with the labels that each got.

#423 Fix broken NVD and KEV sync failure alarm code
  terraform/cloudwatch_alarm_sns_topic.tf
  terraform/cyhy_mongo_ec2.tf
  terraform/kevsync_failure_alarms.tf
  terraform/kevsync_failure_sns_topic.tf
  terraform/locals.tf
  terraform/nvdsync_failure_alarms.tf
Labels: bug

#428 Add an EBS volume to store VDP output
  terraform/README.md
  terraform/bod_docker_cloud_init.tf
  terraform/bod_docker_ec2.tf
  terraform/scripts/deploy_new_docker_ami.sh
Labels: improvement

#429 Ensure `mongo` instance cloud-init scripts run in the necessary order
  terraform/cyhy_mongo_cloud_init.tf
Labels: bug

#427 Fix EBS volume destruction
  terraform/README.md
  terraform/bod_docker_ec2.tf
  terraform/cyhy_mongo_ec2.tf
  terraform/cyhy_nessus_ec2.tf
  terraform/cyhy_nmap_ec2.tf
  terraform/cyhy_reporter_ec2.tf
  terraform/versions.tf
Labels: bug, improvement

#434 Fully configure Nessus assessment policy SMTP settings
  ansible/roles/nessus/templates/cyhy-base-nessus8-policy.xml.j2
  terraform/README.md
  terraform/cyhy_nessus_ec2.tf
  terraform/cyhy_nessus_route53.tf
  terraform/locals.tf
Labels: improvement

#435 Increase volume sizes on reporter and vulnscan instances
  terraform/cyhy_nessus_ec2.tf
  terraform/cyhy_reporter_ec2.tf
Labels: improvement

#436 Ensure filesystems are mounted before performing a `chown` on them
  ansible/playbook.yml
  ansible/roles/chown_cyhy_dirs/README.md
  ansible/roles/chown_cyhy_dirs/defaults/main.yml
  ansible/roles/chown_cyhy_dirs/handlers/main.yml
  ansible/roles/chown_cyhy_dirs/meta/main.yml
  ansible/roles/chown_cyhy_dirs/tasks/main.yml
  ansible/roles/chown_cyhy_dirs/tests/inventory
  ansible/roles/chown_cyhy_dirs/tests/test.yml
  ansible/roles/chown_cyhy_dirs/vars/main.yml
  ansible/roles/client_cert_update/meta/main.yml
  ansible/roles/code_gov_update/meta/main.yml
  ansible/roles/cyhy_commander/meta/main.yml
  ansible/roles/cyhy_dashboard/meta/main.yml
  ansible/roles/cyhy_feeds/meta/main.yml
  ansible/roles/cyhy_mailer/meta/main.yml
  ansible/roles/cyhy_reporter/meta/main.yml
  ansible/roles/orchestrator/meta/main.yml
  ansible/roles/vdp_scanner/meta/main.yml
  terraform/bod_docker_cloud_init.tf
  terraform/cloud-init/chown_directory.tpl.sh
  terraform/cyhy_dashboard_cloud_init.tf
  terraform/cyhy_nessus_cloud_init.tf
  terraform/cyhy_nmap_cloud_init.tf
  terraform/cyhy_reporter_cloud_init.tf
Labels: bug

#446 Adjust the `cloud-init` that `chown`s directories
  terraform/bod_docker_cloud_init.tf
  terraform/cloud-init/chown_directory.tpl.sh
  terraform/cyhy_dashboard_cloud_init.tf
  terraform/cyhy_mongo_cloud_init.tf
  terraform/cyhy_nessus_cloud_init.tf
  terraform/cyhy_nmap_cloud_init.tf
  terraform/cyhy_reporter_cloud_init.tf
Labels: bug, improvement
