Repository cisagov/cyhy_amis, pull requests merged in 2023-05, with the labels that each got.

#652 Update the `cisagov/ansible-role-cyhy-reports` configuration
  packer/ansible/cyhy_reporter.yml
Labels: bug, improvement, ansible

#653 Run `cisagov/cyhy-feeds` using Python 3
  ansible/roles/cyhy_feeds/tasks/main.yml
Labels: improvement

#655 Start daily CyHy notifications cron earlier (0600 UTC)
  ansible/roles/cyhy_reporter/tasks/main.yml
Labels: improvement

#656 Additional alphabetization in Python scripts
  ansible/roles/nessus/files/nessus_base.py
  terraform_egress_pub/scripts/egress_pub.py
Labels: improvement, python

#657 Update `boto3` and `botocore` installation on Debian Buster
  packer/ansible/aws.yml
Labels: bug, improvement, ansible

#658 Refactor BOD 18-01 Lambda configuration
  terraform/README.md
  terraform/bod_docker_iam.tf
  terraform/bod_lambdas.tf
  terraform/locals.tf
  terraform/variables.tf
Labels: improvement, terraform

#659 Enforce S3 object ownership and add missing lifecycle rule for S3 buckets
  terraform/README.md
  terraform/cyhy_archive_bucket.tf
  terraform/moe_bucket.tf
  terraform_egress_pub/cloudfront.tf
  terraform_egress_pub/s3.tf
Labels: improvement, terraform
