Repository cisagov/cyhy_amis, pull requests merged in 2023-08, with the labels that each got.

#663 Add the ability to configure the `cyhy-commander`'s `next-scan-limit` value
  ansible/roles/cyhy_commander/defaults/main.yml
  ansible/roles/cyhy_commander/templates/commander.conf.j2
  terraform/README.md
  terraform/cyhy_mongo_ec2.tf
  terraform/variables.tf
Labels: improvement

#667 Bump production `portscan` instances from `t3.small` to `t3.medium`
  terraform/cyhy_nmap_ec2.tf
Labels: improvement, terraform

#666 Tear down Docker composition before bringing it up again
  ansible/roles/orchestrator/tasks/main.yml
Labels: bug, ansible

#669 Add the ability to configure the `cyhy-commander`'s `jobs-per-*-host` values
  ansible/roles/cyhy_commander/defaults/main.yml
  ansible/roles/cyhy_commander/templates/commander.conf.j2
  terraform/README.md
  terraform/cyhy_mongo_ec2.tf
  terraform/variables.tf
Labels: improvement, terraform, ansible

#670 Update old email addresses
  ansible/roles/client_cert_update/README.md
  ansible/roles/code_gov_update/README.md
  ansible/roles/cyhy_commander/README.md
  ansible/roles/cyhy_dashboard/README.md
  ansible/roles/cyhy_feeds/README.md
  ansible/roles/cyhy_mailer/README.md
  ansible/roles/cyhy_ops/README.md
  ansible/roles/cyhy_reporter/README.md
  ansible/roles/groups/README.md
  ansible/roles/mgmt_ops/README.md
  ansible/roles/mongo/README.md
  ansible/roles/nessus/README.md
  ansible/roles/orchestrator/README.md
  ansible/roles/vdp_scanner/README.md
  terraform/README.md
  terraform/variables.tf
Labels: documentation, improvement

#671 Allow HTTPS egress for `bastion` instances
  terraform/README.md
  terraform/bod_bastion_security_group_rules.tf
  terraform/cyhy_bastion_security_group_rules.tf
Labels: improvement, terraform
