Repository cisagov/cyhy_amis, pull requests merged in 2024-04, with the labels that each got.

#749 Create CSA region-to-email mapping YAML file for `cisagov/cyhy-mailer`
  ansible/roles/cyhy_mailer/tasks/main.yml
  ansible/roles/cyhy_mailer/vars/main.yml
Labels: improvement, ansible

#754 Remove suffix from the argument to the `sleep` command
  terraform/cyhy_nessus_route53.tf
Labels: bug, terraform

#755 Remove the assessment-data-import Lambda configuration
  terraform/README.md
  terraform/adi_lambda.tf
  terraform/variables.tf
Labels: breaking change, improvement, terraform

#756 Fix incorrect module usage in the `cyhy_mailer` Ansible role
  ansible/roles/cyhy_mailer/tasks/main.yml
Labels: bug, ansible
