Repository cisagov/cyhy_amis, pull requests merged in 2025-09, with the labels that each got.

#859 Support scanning by hostname
  ansible/roles/cyhy_commander/templates/commander.conf.j2
  terraform/scripts/deploy_new_database_ami.sh
  version.txt
Labels: improvement, version bump, terraform, ansible

#891 Adjust glob matching for the `ansible` label
  .github/labeler.yml
Labels: improvement, github-actions

#897 Support Graviton `portscan` instances
  terraform/README.md
  terraform/cyhy_mongo_ec2.tf
  terraform/cyhy_nmap_cloud_init.tf
  terraform/cyhy_nmap_ec2.tf
  terraform/locals.tf
  terraform/variables.tf
Labels: breaking change, documentation, improvement, hacktoberfest-accepted, terraform
